@model IEnumerable<WebApplication.Esimed.Projet.Service.TableExigence>
@{
    ViewBag.Title = "Index";
}

<h2>Exigences</h2>

<button class="btn btn-default">
    @Html.ActionLink("Créer une exigence", "Create", new { idprojet = ViewBag.IdProjet })
</button>
<INPUT TYPE="button"
       VALUE="Retour"
       onClick="history.back()"
       class="btn btn-default">
<table class="table">
    <tr>
        <th>
            Commentaire 
        </th>
        <th>
            Fonctionnement
        </th>
        <th>
            Tâche
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ExigenceCommentaire)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExigenceFonctionnel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExigenceFonctionTache)
        </td>
        <td>
            @Html.ActionLink("Modifier", "Edit", new { id=item.ExigenceId }) |
            @Html.ActionLink("Supprimer", "Delete", new { id=item.ExigenceId })
        </td>
    </tr>
}

</table>
